<div class="register-container">
    <app-logo></app-logo>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Registrieren
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="register-input form-group">   
                    <mat-form-field>
                        <input matInput type="text" placeholder="Vorname" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">
                            <mat-icon class="info_tooltip" matTooltip="Vorname ist erforderlich">info</mat-icon>            
                        </div>
                    </div>
                </div>
                <div class="register-input form-group">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Nachname" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">
                            <mat-icon class="info_tooltip" matTooltip="Nachname ist erforderlich">info</mat-icon>            
                        </div>
                    </div>
                </div>
                <div class="register-input form-group">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Benutzername" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">
                            <mat-icon class="info_tooltip" matTooltip="Benutzername ist erforderlich">info</mat-icon>            
                        </div>
                    </div>
                </div>
                <div class="register-input form-group">
                    <mat-form-field>
                        <input matInput type="password" placeholder="Passwort" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">
                            <mat-icon class="info_tooltip" matTooltip="Passwort ist erforderlich">info</mat-icon>            
                        </div>
                        <div *ngIf="f.password.errors.minlength">
                            <mat-icon class="info_tooltip" matTooltip="Das Passwort muss aus mindestens 6 Zeichen bestehen">info</mat-icon>            
                        </div>
                    </div>
                </div>
                <div class="register-input register-group form-group">
                    <button mat-raised-button color="primary" class="register-button" [disabled]="loading" >
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Registrieren
                    </button>
                    <a routerLink="/login" class="cancel-link">abbrechen</a>
                </div>
            </mat-card-content>
            <app-alert></app-alert>
        </mat-card>
    </form>
</div>