.navbar {
    position: sticky;
    z-index: 999;
    display:flex;
    justify-content: space-between;
    top: 0;
    left: 0; 
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.logo {
    height: 40px;
    padding-top: 8px;
}
.navbar__project {
    color: #3f51b5;
}
.navbar__portal {
    color: rgba(0,0,0,.87);
    font-size: .7em;
}
.navbar-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logout {
    display: flex;
    padding-left: 15px;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    cursor: pointer;
}
.current-user {
    padding: 0 5px;
}